
.lag{
    height: 64rem;
}
.card{
  margin-left: 1rem;
  width: 17rem;
}
@media (max-width:500px) {
    
body{
    overflow-y:scroll;
  }
    .card{
      padding: auto;
        margin-left: 1.2rem;
        width: 20rem;
    }
}
